.header {
    grid-area: h;
    background-color: rgba(0, 0, 0, 0.54);
}

.header img {
    width: 58px;
}
.loginBlock{
    float: right;
}
.loginBlock a{
    color: black;
}
.logoutButton{
    width: 70px;
    height: 30px;
    border: #000000 5px solid;
}
