.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems  {
    padding: 10px;

}
.messages{
    padding: 10px;
}

.textarea{
    height: 100px;
    width: 300px;
}

.buttonAdd{
    width: 150px;
    height: 50px;
    background: rgba(255, 255, 255, 0.55);
    border: 5px solid #383333;
    box-sizing: border-box;
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #210C0C;
}

